* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2;
  font-family: "Lato"; /*  Google Fonts - base font */
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.header {
    text-align: center;
    padding: 32px;
}

.row1 {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column1 {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.column1 img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
img:hover{
    box-shadow: 2px 2px 4px rgba(6, 60, 77);
}
.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}